<section class="section bg-secondary">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-md-6">
          <div class="card bg-default shadow border-0">
            <img src="./assets/img/theme/designsystem.png" class="card-img-top">
            <blockquote class="card-blockquote">
              <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583 95" class="svg-bg">
                <polygon points="0,52 583,95 0,95" class="fill-default" />
                <polygon points="0,42 583,95 683,0 0,95" opacity=".2" class="fill-default" />
              </svg>
              <h4 class="display-3 font-weight-bold text-white">Design System</h4>
              <p class="lead text-italic text-white">The IRA Design System serves as a comprehensive framework guiding
                the creation of a cohesive and user-friendly experience across all our digital platforms. Designed with
                a focus on accessibility, consistency, and scalability, our design system provides a unified visual
                language that embodies our brand’s values and mission.</p>
            </blockquote>
          </div>
        </div>
        <div class="col-md-6">
          <div class="pl-md-5">
            <h3>Core Principles</h3>
            <p class="lead">Our design system is anchored in three core principles:</p>
            <p style="font-size: 1.2rem;"><strong>User-Centric Design:</strong><br>
              We prioritize the needs and preferences of our users, ensuring that every interaction is intuitive and
              accessible, regardless of their background or abilities.</p>
            <p style="font-size: 1.2rem;"><strong>Consistency and Clarity:</strong> <br>
              A unified visual language is critical for brand recognition and user confidence. We enforce consistent
              design patterns and components across all platforms to enhance clarity and ease of use.</p>
            <p style="font-size: 1.2rem;"><strong>Scalability and Flexibility:</strong> <br>
              Our design system is adaptable, allowing for the incorporation of new features and improvements without
              compromising the integrity of our existing platforms. This principle ensures that as we grow, our design
              remains cohesive and effective.</p>
            <p style="font-size: 1.2rem;"><strong>Collaboration:</strong> <br>
              Our design system encourages collaboration across teams, fostering a shared understanding of design
              principles and practices. By providing clear guidelines and resources, we empower our teams to innovate
              while maintaining alignment with our overarching goals.</p>
          </div>
        </div>
      </div>
    </div>
  </section>