<div class="container">
  <div class="row">
    <!-- Left Side: Image -->
    <div class="col-md-8">
      <img src="../assets/img/brand/abstract-submissions-are-open-1142.jpg" class="img-fluid" alt="Event Group" />
    </div>
    <!-- Right Side: Content -->
    <div class="col-md-4 d-flex flex-column justify-content-center align-items-start p-4 rounded-end"
      style="background: linear-gradient(90deg, #432067, black);">
      <h2 class="text-white mb-2">
        Register <span class="text-highlight">Early & Save</span>
      </h2>
      <p class="text-light mb-4">Submit Your Abstract Today !!!</p>
      <div>
        <h4 class="text-white mb-3">- QUICK LINKS -</h4>
        <button class="btn btn-light mb-2 w-100 text-start" (click)="navigateTo('scientific-sessions')">
          Scientific Sessions ➔
        </button>
        <button class="btn btn-light mb-2 w-100 text-start" (click)="navigateTo('speakers')">
          Speakers ➔
        </button>
        <button class="btn btn-light mb-2 w-100 text-start" (click)="navigateTo('submit-abstract')">
          Submit Abstract ➔
        </button>
        <button class="btn btn-light mb-2 w-100 text-start" (click)="navigateTo('register')">
          Register ➔
        </button>
      </div>
    </div>
  </div>
</div>