<div class="event-card">
    <div class="event-card-header">
      <h1>{{ eventName }}</h1>
    </div>
    <div class="event-card-body">
      <ul class="event-details-list">
        <li>
          <i class="bi bi-telephone"></i>
          <span><strong>Contact Number:</strong> {{ contactDetails.contactNumber }}</span>
        </li>
        <li>
          <i class="bi bi-geo-alt"></i>
          <span><strong>Address:</strong> {{ contactDetails.address }}</span>
        </li>
        <li>
          <i class="bi bi-envelope"></i>
          <span><strong>Email:</strong> {{ contactDetails.email }}</span>
        </li>
      </ul>
    </div>
  </div>
  