.container {
    max-width: 800px;
  }
  .mb-3, .mt-2 {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  textarea {
    resize: none;
  }
  
  .container {
    max-width: 900px;
    margin: auto;
  }
  
  .card {
    border-radius: 8px;
    overflow: visible; // 🔹 Allows content to expand dynamically
    max-width: 1200px;
    margin: auto;
    min-height: 600px; // 🔹 Ensures minimum height but expands as needed
    margin-bottom: 2%;
  }
  
  
  .card-header {
    font-size: 1.5rem;
  }
  
  .form-label {
    font-weight: 600;
  }
  
  @media (max-width: 768px) {
    .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .bg-primary {
    background-color: #32184c !important;
  }

  .custom-clr {
    color: #000000;
    font-weight: bold;
    text-align: left;
  }

  .custom-clr1 {
    color: #ffffff !important;
  }