<main>
  <div class="position-relative">
    <section class="section section-lg section-shaped section-shaped-main pb-250">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <!-- Use col-lg-6 for large screens, col-12 for small screens -->
            <div class="col-lg-6 col-12">
              <h1 class="display-3 text-white">Uniting Visionaries Across Borders</h1>
              <p class="lead text-white">At IRA, we facilitate groundbreaking conferences that empower leaders in
                healthcare, technology, and academia. Our goal is to cultivate impactful dialogues and collaborations
                that drive innovation and excellence in research and practice.</p>
              <div class="btn-wrapper">
                <a href=""
                  class="btn btn-info btn-icon mb-3 mb-sm-0"
                  style="background-color: #28a745; border:1px solid #28a745">
                  <!-- <span class="btn-inner--icon"><i class="fa fa-code"></i></span> -->
                  <span class="btn-inner--text">Explore Our Team</span>
                </a>
                <a href=""
                  class="btn btn-white btn-icon mb-3 mb-sm-0">
                  <!-- <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span> -->
                  <span class="btn-inner--text">Upcoming Conferences</span>
                </a>
              </div>
            </div>
            <!-- Set image to col-lg-6 and col-12 on smaller screens -->
            <div class="col-lg-6 col-12 text-center">
              <img src="./assets/img/brand/landing image 3.svg" class="responsive-img"
                style="width: 80%; margin: 0 auto;">
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- Floating WhatsApp Icon -->
  <a href="https://wa.me/8886431401" target="_blank" class="whatsapp-icon">
    <i class="fa fa-whatsapp"></i>
  </a>

  <app-company-info-cards></app-company-info-cards>
  <app-design-system></app-design-system>
  <app-our-team></app-our-team>
  <app-past-curosel></app-past-curosel>
  <app-icon-block></app-icon-block>
  <!-- <app-footer></app-footer> -->
</main>