<div class="row" style="padding-top: 2%; margin-bottom: 2rem;">
    <!-- Left Side: About Us -->
    <div class="about-us-container">
        <div class="about-us">
            <h2 style="text-align: center; text-decoration: underline; font-weight: bold;">Welcome Message</h2>
            <div [innerHTML]="formattedContent" style="font-size: 18px;"></div>
        </div>
    </div>

    <!-- Right Side: Event Details -->
    <!-- <div class="event-details-container">
        <div class="event-details" style="text-align: center; margin-bottom: 5%;">
            <h4 style="font-weight: bold; text-decoration: underline;margin-bottom: 2rem;">Event Details</h4>
            <p class="event-txt"><strong>Venue:</strong> Grand Hall, City Center</p>
            <p class="event-txt"><strong>Contact:</strong> +123 456 7890</p>
            <p class="event-txt"><strong>Event Name:</strong> Annual Tech Meetup</p>

            <div class="btn-wrapper" style="margin-top: 2rem;">
                <a class="btn btn-info btn-icon mb-3 mb-sm-0"
                    style="background-color: #27133d; border:1px solid #27133d; margin-right: 4rem;"
                    [routerLink]="['abstract-submission']">
                    <span class="btn-inner--text">Abstract Submission</span>
                </a>
                <a href="" class="btn btn-info btn-icon mb-3 mb-sm-0"
                    style="background-color: #474449; border:1px solid #474449;margin-right: 4rem;"
                    [routerLink]="['event-registration']">
                    <span class="btn-inner--text">Registration</span>
                </a>
            </div>

            <img src="./assets/img/brand/ira-event-img.svg" alt="Event Image" class="event-image">
        </div>
    </div> -->
</div>