<section class="section section-lg">
    <div class="container">
      <div class="row justify-content-center text-center mb-lg">
        <div class="col-lg-12">
          <h2 class="display-3">The Driving Force Behind Our Success</h2>
          <p class="lead text-muted">
            At IRA, we take pride in our exceptional team of dedicated professionals, each bringing a unique blend of
            expertise, creativity, and passion. Our collaborative approach fosters innovation, enabling us to deliver
            transformative experiences across healthcare, technology, and academia. Together, we are committed to
            driving impactful conversations and advancing research that shapes the future. With a shared vision of
            excellence, our team is the cornerstone of our mission, ensuring every conference is not just an event but a
            catalyst for meaningful change.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-5 mb-lg-0" *ngFor="let member of teamMembers">
          <div class="px-4">
            <img [src]="member.imageUrl" class="rounded-circle img-center img-fluid shadow shadow-lg--hover"
              style="width: 200px;">
            <div class="pt-4 text-center">
              <h5 class="title">
                <span class="d-block mb-1">{{ member.name }}</span>
                <small class="h6 text-muted">{{ member.title }}</small>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>