<section class="section section-shaped">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-md">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-5 mb-5 mb-lg-0">
          <h1 class="text-white font-weight-light">Memorable Moments from Past Events</h1>
          <p class="lead text-white mt-4">Our past conferences have united experts across fields for transformative
            discussions and collaborations. From inspiring keynotes to hands-on workshops, each event has sparked
            innovation and fostered connections that continue to drive progress. Relive these impactful moments that
            define our commitment to excellence and growth.</p>
        </div>
        <div class="col-lg-6 mb-lg-auto">
          <div class="rounded shadow-lg overflow-hidden transform-perspective-right bootstrap-slider">
            <ngb-carousel>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/theme/img-1-1200x1000.jpg" alt="First slide">
              </ng-template>
              <ng-template ngbSlide>
                <img class="img-fluid" src="assets/img/theme/img-2-1200x1000.jpg" alt="Second slide">
              </ng-template>
            </ngb-carousel>
          </div>
        </div>
      </div>
    </div>
  </section>