<div class="position-relative">
    <section class="section section-lg section-shaped section-shaped-main">
        <div class="shape shape-style-1 shape-default">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </section>
</div>

<div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-4" *ngFor="let image of images">
        <img 
          [src]="image.src" 
          [alt]="image.alt" 
          (click)="openModal(image)" 
          class="img-thumbnail" 
          style="width: 100%; cursor: pointer;" 
        />
      </div>
    </div>
  </div>
  
  <!-- Modal Template -->
  <ng-template #imageModal let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{ selectedImage?.title }}</h4>
      <button 
        type="button" 
        class="btn-close" 
        aria-label="Close" 
        (click)="modal.dismiss('Cross click')"
        style="position: absolute; top: 15px; right: 15px;">
      </button>
    </div>
    <div class="modal-body text-center">
      <img [src]="selectedImage?.src" [alt]="selectedImage?.alt" class="img-fluid rounded" style="max-width: 100%;" />
      <p class="mt-3">{{ selectedImage?.caption }}</p>
    </div>
  </ng-template>
  <!-- <app-footer></app-footer> -->