<section class="section section-shaped">
  <div class="shape shape-style-1 shape-default2">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container py-md">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5 mb-5 mb-lg-0">
        <h1 class="text-white font-weight-light">Important Deadline Reminder</h1>
        <p class="lead text-white mt-4">Mark your calendar for August 10, 2024—both Early Bird Registrations and the
          first round of abstract submissions will close on this date. Secure your spot at the discounted rate and
          finalize your abstract to ensure you can fully participate in our event. Don’t miss these valuable
          opportunities!.</p>

          <div class="btn-wrapper" style="margin-top: 2rem;">
            <a href=""
              class="btn btn-info btn-icon mb-3 mb-sm-0"
              style="background-color: #46434b; border:1px solid #46434b;" [routerLink]="['abstract-submission']">
              <!-- <span class="btn-inner--icon"><i class="fa fa-code"></i></span> -->
              <span class="btn-inner--text">Abstract Submission</span>
            </a>
            <a href=""
              class="btn btn-white btn-icon mb-3 mb-sm-0" [routerLink]="['event-registration']">
              <!-- <span class="btn-inner--icon"><i class="ni ni-cloud-download-95"></i></span> -->
              <span class="btn-inner--text">Registration</span>
            </a>
          </div>
      </div>
      <div class="col-lg-6 mb-lg-auto">
        <div class="rounded shadow-lg overflow-hidden transform-perspective-right bootstrap-slider">
          <img class="img-fluid" src="assets/img/theme/img-2-1200x1000.jpg" alt="Second slide">
        </div>
      </div>
    </div>
  </div>
</section>