<footer class="footer bg-dark text-white py-5">
  <div class="container">
      <div class="row">
          <!-- About Section -->
          <div class="col-md-4 mb-4">
              <h5 class="text-uppercase font-weight-bold">About IRA</h5>
              <p class="small">IRA is dedicated to advancing knowledge and collaboration in healthcare, technology, and academia. We bring together professionals to drive impactful research and innovations.</p>
          </div>

          <!-- Quick Links Section -->
          <div class="col-md-4 mb-4">
              <h5 class="text-uppercase font-weight-bold">Quick Links</h5>
              <ul class="list-unstyled">
                  <li><a href="#home" class="text-white-50">Home</a></li>
                  <li><a href="#about" class="text-white-50">About Us</a></li>
                  <li><a href="#events" class="text-white-50">Events</a></li>
                  <li><a href="#contact" class="text-white-50">Contact</a></li>
              </ul>
          </div>

          <!-- Contact Section -->
          <div class="col-md-4 mb-4">
              <h5 class="text-uppercase font-weight-bold">Contact Us</h5>
              <p class="small">1234 Innovation Drive<br>San Francisco, CA, 94102</p>
              <p class="small">Email: <a href="mailto:info@iraconferences.com" class="text-white-50">info@iraconferences.com</a></p>
              <p class="small">Phone: <a href="tel:+1234567890" class="text-white-50">+1 (234) 567-890</a></p>
          </div>
      </div>

      <!-- Social Media Icons -->
      <div class="row mt-4">
          <div class="col text-center">
              <a href="#" class="text-white mx-2"><i class="fa fa-facebook fa-lg"></i></a>
              <a href="#" class="text-white mx-2"><i class="fa fa-twitter fa-lg"></i></a>
              <a href="#" class="text-white mx-2"><i class="fa fa-linkedin fa-lg"></i></a>
              <a href="#" class="text-white mx-2"><i class="fa fa-instagram fa-lg"></i></a>
          </div>
      </div>

      <!-- Footer Bottom -->
      <div class="row mt-4">
          <div class="col text-center">
              <p class="small text-white-50">&copy; 2024 IRA Conferences. All rights reserved.</p>
          </div>
      </div>
  </div>
</footer>
